@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Inter:wght@400;500;600;700;800;900&display=swap');

:root {
  
    --blue-background-color: #3D5CFF; /* blue */
    --grayMedium-background-color: #858585;

}

a {
  text-decoration-line: none;
  color: black;
}

* {
  box-sizing: border-box;
}